


@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:400,600");

.login-title{
	text-align: center;
	font-size: 65px;
	font-weight: normal;
	color: #222;
	font-family: "Montserrat", sans-serif;
}

.Welcome-title{
	text-align: center;
	color: #222;
	font-size: 30px;
	font-weight: lighter;
	font-family: "Crimson Text", serif;
}

.name{
	border: none;
	box-shadow: none;
	border: 1px solid #222;
	outline: none;
	background: transparent;
	width: 60%;
	border-radius: 10px;
	height: 40px;
	padding-left: 7px;
}

/*.password:hover,.name:hover{
	border: 1px solid red;
	transition: 1s;
}
*/

.password{
	border: none;
	box-shadow: none;
	border: 1px solid #222;
	outline: none;
	background: transparent;
	width: 60%;
	border-radius: 10px;
	height: 40px;
	padding-left: 7px;
}

.submit{
	width: 60%;
	border-radius: 10px;
	height: 40px;
	/*background: rgba(255, 255, 255, 0.2);*/
	background: #222;
	box-shadow: none;
	border: none;
	color: #fff;
	font-size: 20px;
	border: 1px solid #222;
}

.submit:hover,.backtohome:hover{
	background: #009999;
	color:#fff;
	transition: 1s;
}

.backtohome{
	display: block;
	margin: 0px auto;
	width: 60%;
	border-radius: 10px;
	height: 40px;
	/*background: rgba(255, 255, 255, 0.2);*/
	background: #222;
	box-shadow: none;
	border: none;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;

}

.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 300px;
	height: 300px;
	background: rgba(255, 255, 255, 0.2);
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;

}


.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 300px;
	height: 30px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-65px;
    line-height: 0px;
    font-weight: bold;
}

.name{
	margin-top: -35px;
}

.password{
	margin-top: 10px;
	margin-bottom: 20px;
}

.submit{
	margin-top: 0px;
	margin-bottom: 15px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px)
{
.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 380px;
	height: 300px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 380px;
	height: 40px;
	margin-bottom: -65px;
}

.name{
	margin-top: -35px;
}

.password{
	margin-top: 10px;
	margin-bottom: 30px;
}

.submit{
	margin-top: 0px;
	margin-bottom: 15px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{

.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 350px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 40px;
	margin-bottom: -65px;
	font-size: 23px;
}

.name{
	margin-top: -35px;
}

.password{
	margin-top: 10px;
	margin-bottom: 30px;
}

.submit{
	margin-top: 0px;
	margin-bottom: 15px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 350px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 40px;
	margin-bottom: -65px;
	font-size: 23px;
}

.name{
	margin-top: -35px;
}

.password{
	margin-top: 10px;
	margin-bottom: 30px;
}

.submit{
	margin-top: 0px;
	margin-bottom: 15px;
}
}

@media only screen and (min-width: 820px)
{
.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 350px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;

}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 40px;
	margin-bottom: -65px;
	font-size: 23px;
}

.name{
	margin-top: -35px;
}

.password{
	margin-top: 10px;
	margin-bottom: 30px;
}

.submit{
	margin-top: 0px;
	margin-bottom: 15px;
}
}

@media only screen and (min-width: 900px)
{
.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 400px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}


.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 35px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-65px;
    line-height: 0px;
    font-weight: bold;
    font-size: 23px;
}
.name{
	margin-top: 10px;
	margin-bottom: 20px;
}


.password{
	margin-bottom: 25px;
}

.submit{
	margin-bottom: 15px;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
	.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 400px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 35px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-65px;
    line-height: 0px;
    font-weight: bold;
    font-size: 23px;
}


.name{
	margin-top: 10px;
	margin-bottom: 20px;
}


.password{
	margin-bottom: 25px;
}

.submit{
	margin-bottom: 15px;
}

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 400px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 35px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-65px;
    line-height: 0px;
    font-weight: bold;
    font-size: 23px;
}

.name{
	margin-top: 10px;
	margin-bottom: 20px;
}


.password{
	margin-bottom: 25px;
}

.submit{
	margin-bottom: 15px;
}

}



@media only screen and (min-width: 1600px)
{
	.loginform{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 400px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 65px;
}

.mstbox{
	display: block;
	margin: 0px auto;
	color: #222;
	background: transparent;
	width: 550px;
	height: 35px;
	background: rgba(255, 255, 255, 0.2);
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom:-65px;
    line-height: 0px;
    font-weight: bold;
    font-size: 23px;
}

.name{
	margin-top: 10px;
	margin-bottom: 20px;
}


.password{
	margin-bottom: 25px;
}

.submit{
	margin-bottom: 15px;
}


}
